
header, nav, aside, footer{
    border: 1px solid; #ccc;
    text-align: right;
    float: left;
    width: 100%;
}
aside:nth-child(1){
    width: 60%;
    height: 200px;
}
aside:nth-child(2){
    width: 38%;
    float: right;
}












